### Use Twitter data practice pandas

In [17]:
import pandas as pd

icdata = pd.read_csv('ICtweets.csv')
icdata.head()

,time,user,text,hashtag,user_mentions,retweeted,retweet_count,favorited,favorite_count,in_reply_to_user_id
0,08-03-2023,intelcapital,"For a third year in a row, @Immuta has been aw...","['Startup', 'AmericasBestEmployers']","[{'user_id': 3362905589, 'screen_name': 'immut...",False,1,False,9,NaN
1,08-03-2023,intelcapital,Cybersecurity company @jupiterone announced in...,"['workflows', 'vulnerability']","[{'user_id': 968524585741180928, 'screen_name'...",False,0,False,2,NaN
2,08-03-2023,intelcapital,Learn more about how SecurityScorecard’s ratin...,NaN,NaN,False,1,False,1,27994823.0
3,08-03-2023,intelcapital,SecurityScorecard Co-founder &amp; CEO Aleksan...,['software'],"[{'user_id': 87010499, 'screen_name': 'ayampol...",False,1,False,1,27994823.0
4,08-03-2023,intelcapital,Intel Capital's Managing Director Sunil Kurkur...,['cybersecurity'],NaN,False,0,False,1,27994823.0

In [18]:
# As for attribute in_reply_to_user_id, fill 0 to NaN

icdata['in_reply_to_user_id'] = icdata['in_reply_to_user_id'].fillna(0)
icdata.head()

,time,user,text,hashtag,user_mentions,retweeted,retweet_count,favorited,favorite_count,in_reply_to_user_id
0,08-03-2023,intelcapital,"For a third year in a row, @Immuta has been aw...","['Startup', 'AmericasBestEmployers']","[{'user_id': 3362905589, 'screen_name': 'immut...",False,1,False,9,0.0
1,08-03-2023,intelcapital,Cybersecurity company @jupiterone announced in...,"['workflows', 'vulnerability']","[{'user_id': 968524585741180928, 'screen_name'...",False,0,False,2,0.0
2,08-03-2023,intelcapital,Learn more about how SecurityScorecard’s ratin...,NaN,NaN,False,1,False,1,27994823.0
3,08-03-2023,intelcapital,SecurityScorecard Co-founder &amp; CEO Aleksan...,['software'],"[{'user_id': 87010499, 'screen_name': 'ayampol...",False,1,False,1,27994823.0
4,08-03-2023,intelcapital,Intel Capital's Managing Director Sunil Kurkur...,['cybersecurity'],NaN,False,0,False,1,27994823.0

In [24]:
# create new data frame which hashtags list are not empty
df = icdata.copy()
empty_list_indices = df[df['hashtag'].isnull() | df['user_mentions'].isnull()].index

# Drop rows using the drop() function
filtered_df = df.drop(empty_list_indices, axis=0)
filtered_df[:5]

,time,user,text,hashtag,user_mentions,retweeted,retweet_count,favorited,favorite_count,in_reply_to_user_id
0,08-03-2023,intelcapital,"For a third year in a row, @Immuta has been aw...","['Startup', 'AmericasBestEmployers']","[{'user_id': 3362905589, 'screen_name': 'immut...",False,1,False,9,0.0
1,08-03-2023,intelcapital,Cybersecurity company @jupiterone announced in...,"['workflows', 'vulnerability']","[{'user_id': 968524585741180928, 'screen_name'...",False,0,False,2,0.0
3,08-03-2023,intelcapital,SecurityScorecard Co-founder &amp; CEO Aleksan...,['software'],"[{'user_id': 87010499, 'screen_name': 'ayampol...",False,1,False,1,27994823.0
6,08-03-2023,intelcapital,Take a look #InsideIntelCapital with some insi...,['InsideIntelCapital'],"[{'user_id': 2314468920, 'screen_name': 'secur...",False,1,False,3,0.0
7,08-03-2023,intelcapital,Our portfolio company @alkymi_inc appointed fo...,['financialservices'],"[{'user_id': 889488813797650432, 'screen_name'...",False,0,False,2,0.0

In [21]:
empty_list_indices = df[df['retweet_count'] < 1].index
print(empty_list_indices)
filtered_df = df.drop(empty_list_indices, axis=0)
filtered_df[:5]
# for item in df['hashtag'][:5]:
#     print(type(item))
# # Drop rows using the drop() function
# filtered_df = df.drop(empty_list_indices, axis=0)
# filtered_df[:3]

Int64Index([ 1,  4,  5,  7,  9, 13, 15, 20, 21, 22, 23, 24, 26, 27, 28, 30, 34,
            35, 36, 39, 41, 42, 43, 45, 47, 48, 49, 50, 51, 54, 58, 60, 61, 63,
            65, 66, 69, 71, 72, 74, 75, 76, 77, 78, 82, 84, 85, 88, 89, 90, 91,
            92, 93, 95, 97, 98, 99],
           dtype='int64')

,time,user,text,hashtag,user_mentions,retweeted,retweet_count,favorited,favorite_count,in_reply_to_user_id
0,08-03-2023,intelcapital,"For a third year in a row, @Immuta has been aw...","['Startup', 'AmericasBestEmployers']","[{'user_id': 3362905589, 'screen_name': 'immut...",False,1,False,9,0.0
2,08-03-2023,intelcapital,Learn more about how SecurityScorecard’s ratin...,NaN,NaN,False,1,False,1,27994823.0
3,08-03-2023,intelcapital,SecurityScorecard Co-founder &amp; CEO Aleksan...,['software'],"[{'user_id': 87010499, 'screen_name': 'ayampol...",False,1,False,1,27994823.0
6,08-03-2023,intelcapital,Take a look #InsideIntelCapital with some insi...,['InsideIntelCapital'],"[{'user_id': 2314468920, 'screen_name': 'secur...",False,1,False,3,0.0
8,07-03-2023,intelcapital,"As a part of its Society 5.0 project, Japan's ...","['supercomputer', 'AI']","[{'user_id': 43093791, 'screen_name': 'riken_e...",False,2,False,6,0.0

### Numpy part

In [26]:
import numpy as np

In [28]:
# Compute the min/max for each row for a NumPy 2D array

np.random.seed(100)
a = np.random.randint(1,10, [5,3])
a

array([[9, 9, 4],
       [8, 8, 1],
       [5, 3, 6],
       [3, 3, 3],
       [2, 1, 9]])

In [33]:
minvalue = np.min(a, axis = 1)
minvalue

array([4, 1, 3, 3, 1])

In [35]:
maxvalue = np.max(a, axis = 1)
maxvalue

array([9, 8, 6, 3, 9])

In [36]:
minvalue/maxvalue

array([0.44444444, 0.125     , 0.5       , 1.        , 0.11111111])

In [39]:
np.apply_along_axis(lambda x: np.min(x)/np.max(x), axis = 1, arr = a)

array([0.44444444, 0.125     , 0.5       , 1.        , 0.11111111])

In [55]:
# How to find all occurrences of an Element in a list

values = np.array([[1,2,3,1,2,4,5,6,3,2,1],[1,2,3,1,2,4,5,6,3,2,1],[1,2,3,1,2,4,5,6,3,2,1]])
searchval = 3
x = np.where(values == searchval)[0]
y = np.where(values == searchval)[1]
print(x)
print(y)
print(np.stack((x, y), axis = 0))
print(np.concatenate((x, y), axis = 0))

[0 0 1 1 2 2]
[2 8 2 8 2 8]
[[0 0 1 1 2 2]
 [2 8 2 8 2 8]]
[0 0 1 1 2 2 2 8 2 8 2 8]

In [63]:
# Convert array of indices to One-Hot encoded NumPy array

# a = array([1,0,3])
# b = array([[0,1,0,0], [1,0,0,0], [0,0,0,1]])

a = np.array([1, 0, 3])
b = np.zeros((a.size, a.max()+1))
b[np.arange(a.size),a] = 1
b

[0 1 2] [1 0 3]

array([[0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [64]:
# Explain what is Vectorization in NumPy

def square_func(a, b):
    return (a + b) ** 2

a = np.array([2, 3, 4])
b = np.array([3, 4, 5])
vsquare_func = np.vectorize(square_func)
vsquare_func(a, b)

array([25, 49, 81])

In [69]:
# How to convert a numeric array to a categorical (text) array?

# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

In [73]:
iris[:, 2].astype('float')

array([1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5, 1.6, 1.4,
       1.1, 1.2, 1.5, 1.3, 1.4, 1.7, 1.5, 1.7, 1.5, 1. , 1.7, 1.9, 1.6,
       1.6, 1.5, 1.4, 1.6, 1.6, 1.5, 1.5, 1.4, 1.5, 1.2, 1.3, 1.5, 1.3,
       1.5, 1.3, 1.3, 1.3, 1.6, 1.9, 1.4, 1.6, 1.4, 1.5, 1.4, 4.7, 4.5,
       4.9, 4. , 4.6, 4.5, 4.7, 3.3, 4.6, 3.9, 3.5, 4.2, 4. , 4.7, 3.6,
       4.4, 4.5, 4.1, 4.5, 3.9, 4.8, 4. , 4.9, 4.7, 4.3, 4.4, 4.8, 5. ,
       4.5, 3.5, 3.8, 3.7, 3.9, 5.1, 4.5, 4.5, 4.7, 4.4, 4.1, 4. , 4.4,
       4.6, 4. , 3.3, 4.2, 4.2, 4.2, 4.3, 3. , 4.1, 6. , 5.1, 5.9, 5.6,
       5.8, 6.6, 4.5, 6.3, 5.8, 6.1, 5.1, 5.3, 5.5, 5. , 5.1, 5.3, 5.5,
       6.7, 6.9, 5. , 5.7, 4.9, 6.7, 4.9, 5.7, 6. , 4.8, 4.9, 5.6, 5.8,
       6.1, 6.4, 5.6, 5.1, 5.6, 6.1, 5.6, 5.5, 4.8, 5.4, 5.6, 5.1, 5.1,
       5.9, 5.7, 5.2, 5. , 5.2, 5.4, 5.1])

In [75]:
# Bin petal length 
petal_length_bin = np.digitize(iris[:, 2].astype('float'), [0, 3, 5, 10])
petal_length_bin

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 2, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [78]:
# Map it to respective category
label_map = {1: 'small', 2: 'medium', 3: 'large', 4: np.nan}
petal_length_cat = [label_map[x] for x in petal_length_bin]
petal_length_cat[:10]

['small',
 'small',
 'small',
 'small',
 'small',
 'small',
 'small',
 'small',
 'small',
 'small']

In [97]:
# How to find all the local maxima (or peaks) in a 1D array?

a = np.array([1, 3, 7, 1, 2, 6, 0, 9, 3, 7, 1])
doublediff = np.diff(np.sign(np.diff(a)))
doublediff

array([ 0, -2,  2,  0, -2,  2, -2,  2, -2])

In [98]:
# wrong
peak_locations = np.where(doublediff == 2)[0]
peak_locations

array([2, 5, 7])

In [99]:
# correct
peak_locations = np.where(doublediff == -2)[0] + 1
peak_locations

array([2, 5, 7, 9])

In [102]:
# Reverse an array
arr = np.array([1, 3, 7, 1, 2, 6, 0, 9, 3, 7, 1])
reversed_arr = arr[::-1]
reversed_arr

array([1, 7, 3, 9, 0, 6, 2, 1, 7, 3, 1])

In [104]:
# What does einsum do in NumPy?

A = np.array([0, 1, 2])

B = np.array([[ 0,  1,  2,  3],
              [ 4,  5,  6,  7],
              [ 8,  9, 10, 11]])

In [108]:
# Normal Python

(A[:, np.newaxis] * B).sum(axis=1)

array([ 0, 22, 76])

In [112]:
np.einsum('i,ij->i', A, B)

array([ 0, 22, 76])

In [113]:
np.einsum('i,ij->j', A, B)

array([20, 23, 26, 29])